@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slider {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.left-slider > div {
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-slider > div> h1 {
    font-style: 3.25rem;
    margin-bottom: 10px;
}

.right-slider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}

.right-slider > div {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

button {
    background-color: #fff;
    color: #aaa;
    border: none;
    outline: none;
    padding: 1rem;
    cursor: pointer;
}

button:hover {
    color: #222;
}

button:focus {
    outline: none;
}

.slider-container .action-buttons button {
    position: absolute;
    top: 50%;
    left: 35%
}

.slider-container .action-buttons .down-action {
    transform: translateX(-100%);
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
}

.slider-container .action-buttons .up-action {
    transform: translateY(-100%);
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}